{% extends 'tapasapp/base.html' %}
{% load static %}



                {% block content %}
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Welcome, {{ user.username }}</h5>
                                </div>
                                <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <a href="{% url 'manage_account' pk=user.id %}" class="mt-3 btn btn-success">Manage Account</a>
                                            </div>
                                            <div class="col-6">
                                                <a href="{% url 'logout' %}" class="mt-3 btn btn-danger">Log out</a>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <table class="table table-striped mb-5">
                                <thead>
                                    <th scope="col"> Name </th>
                                    <th scope="col"> Cooking Time </th>
                                    <th scope="col"> Prep Time </th>
                                    <th scope="col">  </th>
                                </thead>
                                <tbody>
                                    {% for d in dishes %}
                                    <tr>
                                        <td> {{ d.name }} </td>
                                        <td> {{ d.prep_time }} </td>
                                        <td> {{ d.cook_time }} </td>
                                        <td><a href="{% url 'view_detail' pk=d.pk %}"  class="btn btn-dark">Details</button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                
                {% endblock %}

            